node_modules/
tests/testProject/deployment
tests/testProject/.classpath
tests/testProject/.project
tests/testProject/javasource
tests/testProject/testProject.launch
tests/testProject/userlib
tests/testProject/resources
tests/testProject/javascriptsource
tests/testProject/CustomDropdownTestProject.mpr.lock
*.log
.env
dist
